.sobre-mim{
    background-color: var(--cor-3);
    border-radius: 6px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 1px 1px 12px 0px black;
}

.sobre-container{
    margin: 1em 0 1em 1em;
}


.sobre-titulo{
    color: var(--cor-2);
    font-size: 20px;
    font-weight: bold;
    padding-top: 1em;
}

.sobre-texto-container{
    font-size: 18px;
    font-weight:bold;
    color: var(--cor-2);
}

.texto-sobre-mim{
  line-height: 1.3em;
  text-indent: 1em;
  color: var(--cor-4);
  font-weight: 500;
  padding-bottom: 1em ;
  padding-right: 1em;
  text-align: justify;
}